@media (max-width: 768px) {
  .container{
    display: grid;
    margin-top:55px;
    grid-template-areas: 
      "drinkName"
      "glass"
      "image" 
      "ingredients"
      "description";
  }

  .imageContainer{
    grid-area:image;
    padding-top:3%;
  }

  .image{
    display:block;
    margin-left:auto;
    margin-right:auto;
    width:70%;
    border-radius: 2%;
    border: 5px solid rgb(142, 189, 199);
  }

  .drinkName{
    grid-area: drinkName;
    font-weight: bold;
    text-align: center;
  }

  .glass{
    grid-area: glass;
    color:rgb(109, 109, 109);
    text-align: center;
  }

  .ingredients{
    margin-top: 15px;
    text-align: center;
  }

  .ingredientsContainer{
    padding-top: 1%;
    grid-area: ingredients;
    line-height: 110%;
    text-align: center;
    font-size: 15px;
    margin-right:12%;
  }

  .ElementOfIngredients{
    list-style-type: square;
    display: list-item;
    list-style-position: inside;
  }

  .description{
    grid-area: description;
    font-size:15px;
    margin-left:5%;
    margin-right:5%;
    text-align: center;
  }

  .signInInfo{
    color: rgba(36, 95, 150);
    margin-top: 45px;
    margin-left: auto;
    margin-right:auto;
    font-size:15px;
  }
}

@media (min-width: 769px) {
  .container{
    display: grid;
    width:80%;
    margin-left: auto;
    margin-right: auto;
    margin-top:55px;
    margin-bottom: 35px;
    grid-template-columns:1fr 1fr;
    grid-template-rows: 1fr 0.4fr 4fr 3fr;
    grid-template-areas: 
      "image drinkName" 
      "image glass"
      "image ingredients"
      "description description";
  }

  .imageContainer{
    grid-area: image;
  }

  .image{
    display:block;
    width:55%;
    margin-left:auto;
    margin-right:auto;
    border-radius: 2%;
    border: 5px solid rgb(142, 189, 199);
  }

  .drinkName{
    grid-area: drinkName;
    display: flex;
    align-items: center;
    font-size:2vw;
    font-weight: bold;
    overflow:hidden;
  }

  .star{
    background-color: Transparent;
    border: none;
    outline: none;
    color: rgb(79, 137, 192);
    text-align: center;
    cursor: pointer;
    font-size:43px;
    margin-top:13px;
    transition-duration: 0.4s;
  }

  .clickedStar{
    background-color: Transparent;
    border: none;
    outline: none;
    color: rgb(184, 182, 88);
    text-align: center;
    cursor: pointer;
    font-size:43px;
    margin-top:13px;
    transition-duration: 0.4s;
  }

  .star:hover{
    transform: scale(1.15);
  }

  .clickedStar:hover{
    transform: scale(1.15);
  }

  .glass{
    grid-area: glass;
    color:rgb(109, 109, 109)
  }

  .ingredients{
    margin-top: 5px;
    text-align: left;
  }

  .ingredientsContainer{
    grid-area: ingredients;
    line-height: 140%;
    display: flex;
    align-items: center;
  }

  .ElementOfIngredients{
    list-style-type: square;
    display: list-item;
  }

  .description{
    grid-area: description;
    font-size:17px;
    margin-left:12%;
    margin-right:22%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .signInInfo{
    color: rgba(36, 95, 150, 0.979);
    margin-left: 23%;
    font-size:15px;
  }
}
