@media (max-width: 768px) {
  .signInButton{
    width: 100%;
    margin-top: 3vh;
    padding: 4% 8% 4% 8%;
    border: 0px;
    background-color: #535353;
    color: white;
    border-radius: 18px;
    overflow: hidden; 
    font-size: 17px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  }

  .signInButton:hover {
    background-color: #474747;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  }

  .container{
    font-size: 20px;
    margin-top: 32vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 55%;
    text-align: center;
  }

  .or{
    font-size: 15px;
  }

  .link{
    font-size: 16px;
    color: rgb(44, 108, 122);
  }

  a:hover {
    text-decoration: underline;
  }
}

@media (min-width: 769px) {
  .signInButton{
    width: 100%;
    margin-top: 3vh;
    padding: 3% 6% 3% 6%;
    border: 0px;
    background-color: #535353;
    color: white;
    border-radius: 18px;
    overflow: hidden; 
    font-size: 17px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
    outline: none;
  }
  
  .signInButton:hover {
    background-color: #474747;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.4);
  }
  
  .container{
    font-size: 20px;
    margin-top: 30vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 18%;
    text-align: center;
  }

  .or{
    font-size: 15px;
  }

  .link{
    font-size: 16px;
    color: rgb(44, 108, 122);
  }

  a:hover {
    text-decoration: underline;
  }
}
