@media (max-width: 768px) {
  .board{
    margin-top:34px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 44% 44%;
    grid-row-gap: 6%;
    align-items: start;
  }

  .drink{
    text-align: center;
    font-size: 3.6vw;
    border-radius: 20px;
    animation: fadein 2s;
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .image{
    border-radius: 50%;
    width: 50%;
    height: 50%;
    border: 5px solid rgb(142, 189, 199);
    margin: auto;
    display: block;
  }

  a{ 
    color: inherit;
    text-decoration: none;
   } 

   .button{
    margin-left: 38%;
    background-color: Transparent;
    color: rgb(80, 118, 175);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 35px;
    transition-duration: 0.4s;
   }
}

@media (min-width: 769px) {
  .board{
    margin-top: 65px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 4% 4% 23% 23% 23% 23%;
    width: 70%;
    align-items: start;
    justify-items: start;
  }

  .drink{
    text-align: center;
    font-size: 15px;
    transition: transform .2s;
    border-radius: 20px;
    animation: fadein 2s;
  }

  .drink:hover{
    transform: scale(1.04);
    background-color:  rgba(72, 121, 255, 0.06);
  }

  @keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
  }

  .image{
    border-radius: 50%;
    width: 45%;
    height: 45%;
    border: 5px solid rgb(101, 134, 184);
    margin: auto;
    display: block;
    justify-self: Start;
  }

  a{ 
    color: inherit;
    text-decoration: none;
   } 

   .button{
    background-color: Transparent;
    color: rgb(80, 118, 175);
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 34px;
    margin-top: 100%;
    transition-duration: 0.4s;
   }

   .button:hover {
     transform: scale(1.3);
     color: rgb(64, 109, 177);
   }
}
