@media (max-width: 768px) {
  .board{
    margin-top:34px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 44% 44%;
    grid-row-gap: 6%;
    align-items: start;
  }
  
  .button{
    margin-left: 38%;
    background-color: Transparent;
    color: rgb(80, 118, 175);
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 35px;
    transition-duration: 0.4s;
   }
}

@media (min-width: 769px) {
  .board{
    margin-top: 90px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 4% 4% 23% 23% 23% 23%;
    width: 70%;
    align-items: start;
    justify-items: start;
    height:250px;
  }

  .button{
    background-color: Transparent;
    color: rgb(80, 118, 175);
    background-repeat:no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 34px;
    margin-top: 100%;
    transition-duration: 0.4s;
   }
}
