@media (max-width: 768px) {
  .topBar{
    overflow: hidden;
    height: 40px;
    background-color:rgb(138, 198, 209);
    display: grid;
    grid-template-columns: 10vw auto 10vw 30vw 2vw 30vw;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-items: center;
    z-index: 1;
  }

  .homePageIconContainer{
    grid-column: 1;
  }

  .homePageIcon{
    background-color: Transparent;
    border: none;
    outline:none;
    font-size:25px;
    color:rgba(70, 133, 192, 0.979);
    text-align: center;
    cursor:pointer;
    transition-duration: 0.2s;
  }

  .homePageIcon:hover{
    color: rgba(55, 114, 170, 0.979);
    transform: scale(1.1);
  }

  .profileImage{
    border-radius: 50%;
    grid-column: 3;
    height:83%;
  }

  .displayName{
    grid-column:4;
    font-size:4vw;
  }

  .buttonContainer{
    grid-column:6;
    width:100%;
  }

  .button{
    padding: 2% 2% 2% 2%;
    border: 2px;
    background-color: rgba(70, 133, 192, 0.979);
    color:white;
    width:78%;
    border-radius: 10px;
    font:10px;
    margin:auto;
    display:block;
  }

  .button:hover{
    background-color: rgba(55, 114, 170, 0.979);
  }

}

@media (min-width: 769px) {
  .topBar{
    overflow: hidden;
    height: 40px;
    background-color:rgb(138, 198, 209);
    display: grid;
    grid-template-columns: 4vw auto 3vw 10vw 2vw 11vw;
    position: fixed;
    width: 100%;
    align-items: center;
    justify-items: center;
    z-index: 1;
  }

  .homePageIconContainer{
    grid-column: 1;
  }

  .homePageIcon{
    background-color: Transparent;
    border: none;
    outline:none;
    font-size:25px;
    color:rgba(70, 133, 192, 0.979);
    text-align: center;
    cursor:pointer;
    transition-duration: 0.2s;
  }

  .homePageIcon:hover{
    color: rgba(55, 114, 170, 0.979);
    transform: scale(1.1);
  }

  .profileImage{
    border-radius: 50%;
    grid-column: 3;
    height:83%;
  }

  .displayName{
    grid-column:4;
    font-size:1.1vw;
  }

  .buttonContainer{
    grid-column:6;
    width:100%;
  }

  .button{
    padding: 2% 2% 2% 2%;
    border: 2px;
    background-color: rgba(70, 133, 192, 0.979);
    color:white;
    width:78%;
    border-radius: 10px;
    font:10px;
    margin:auto;
    display:block;
  }

  .button:hover{
    background-color: rgba(55, 114, 170, 0.979);
  }
}
